<marquee>Lightning deals in amazon</marquee>
<!--fetch all the records from product property in the .ts file which is accessing the products.json-->
<hr>
<div class="row">
    <app-allproducts></app-allproducts>
</div>
<hr>
<div *ngFor="let prod of product" style="border:none;margin-top:30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <!--Property Binding-->
            <img [src]="prod.img" class="prodimg">
        </div>
        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;">
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:15px;">
                    <div class="col-lg-3">
                        <!--Property Binding-->
                        <img [src]="prod.img">
                    </div>
                    <div class="col-lg-9" style="margin-top:40px;">
                        <!--Interpolation Binding-->
                        <div>
                            Product: {{prod.pname | uppercase}}
                            <br>
                            Description: {{prod.pdescription}}
                            <br>
                            Price: {{prod.price | currency:'INR'}}<br>
                            <!-- <app-counter></app-counter> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <!--Property Binding-->
            <img [src]="prod.img" class="prodimg">
        </div>
    </div>
</div>