<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!--STRING INTERPOLATION-->
    <!--PROPERTY BINDING IN img tag-->
    <a class="navbar-brand dukaan" routerLink=""><img [src]="logo" alt="dukaan"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="header collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!--href - render the entire page-->
          <!--SPA - Partial Rendering - routerLink-->
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="training">Training</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="products" *ngIf="auth">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="auth">
            Appliances
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="micro">Micro oven</a></li>
            <li><a class="dropdown-item" routerLink="fridge">Refrigerator</a></li>
            <li><a class="dropdown-item" routerLink="washingmach">Washing Machine</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="deals" *ngIf="auth">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="prod_details" *ngIf="auth">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" *ngIf="!auth">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!auth">Login</a>
        </li>
      </ul>

      <!--EVENT BINDING-->
      <form class="d-flex">
        <input type="text" #productname placeholder="Enter product name">&nbsp;

        <button class="btn btn-outline-success" type="submit"
          (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Search</button>
        <br>
        <!--Access the Search Component-->
        <!--Laptop will get assigned to the property product in search component-->
        <!--@Input(product) in search component-->
        <!--PROPERTY BINDING-->
        <!--@Input(product) in search component is going to receive the value from productentered property from nav component-->
        <app-search [product]="productentered"></app-search>

        &nbsp;&nbsp;&nbsp;
        <button routerLink='cartitem' style="height:5px;border:none;" *ngIf="auth">
          <span class="fa fa-cart-plus" style="font-size:16px;color:black"><sup class="badge badge-warning"
              style="color:rgb(12, 12, 12);font-size: xx-small;">{{cartCount}}</sup></span>
        </button> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-warning" type="submit" style="border-radius:10px;color:black;" routerLink="login"
          *ngIf="auth">Logout</a>
      </form>
    </div>
  </div>

</nav>



<br>
<br>