.prodimg{
    height:40px;
    width:40px;
    margin-left:100px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;

}
h3{
    margin-left:20px;
    color:blue;
    text-shadow: 2px 3px 2px red;
}